<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Vivek's Links" />
        <link
            rel="icon"
            type="image/png"
            href="https://cdn.ujjwalvivek.com/icons/logo192.png"
        />
        <title>Vivek's Links</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <script type="module" src="/js/main.js"></script>
    </body>
</html>
